APP_NAME=CoreRTest
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
API_DOCS_ENABLED=true
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=laravel_core_test
DB_USERNAME=
DB_PASSWORD=
CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_CONNECTION=session
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_PREFIX=core-r-test:
REDIS_CACHE_DB=13
REDIS_QUEUE_DB=14
REDIS_SESSION_DB=15
MAIL_MAILER=array
FILESYSTEM_DISK=local
